{% if baseline_chrony_driftfile %}
driftfile {{ baseline_chrony_driftfile }}
{% endif %}

{% if baseline_chrony_makestep %}
makestep {{ baseline_chrony_makestep }}
{% endif %}

rtcsync
logdir /var/log/chrony

{%- for srv in baseline_chrony_servers %}
server {{ srv }}
{%- endfor %}

{%- for pool in baseline_chrony_pools %}
pool {{ pool }}
{%- endfor %}
