architecture: {{ cloud_image_incus_architecture }}
creation_date: {{ cloud_image_incus_creation_date | int }}
properties:
  os: {{ cloud_image_incus_os }}
  release: "{{ cloud_image_incus_release }}"
  description: {{ cloud_image_incus_description }}
templates: {}
