[DEFAULT]
ignoreself = {{ fail2ban_ignoreself }}
bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
destemail = {{ fail2ban_destemail }}
sender = {{ fail2ban_sender }}

[sshd] 
enabled = true
