---
- name: Enable a codeready-builder-for-rhel-8-x86_64-rpms repository
  community.general.rhsm_repository:
    name: codeready-builder-for-rhel-8-x86_64-rpms

- name: Import EPEL GPG key
  ansible.builtin.rpm_key:
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-8
    state: present

- name: Enable EPEL repository
  ansible.builtin.yum:
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
    state: present
