# Ansible managed
Port {{ sshd_port }}
Protocol 2

PermitRootLogin {{ sshd_permit_root_login }}
PasswordAuthentication {{ sshd_password_authentication }}
ChallengeResponseAuthentication {{ sshd_challenge_response_authentication }}
UsePAM yes
PrintMotd no
Subsystem sftp /usr/libexec/openssh/sftp-server

{% if sshd_allow_users|length > 0 -%}
AllowUsers {{ sshd_allow_users | join(' ') }}
{% endif -%}
{% if sshd_allow_groups|length > 0 -%}
AllowGroups {{ sshd_allow_groups | join(' ') }}
{% endif -%}
{% if sshd_deny_users|length > 0 -%}
DenyUsers {{ sshd_deny_users | join(' ') }}
{% endif -%}
{% if sshd_deny_groups|length > 0 -%}
DenyGroups {{ sshd_deny_groups | join(' ') }}
{% endif -%}

{% for opt in sshd_extra_options | dict2items -%}
{{ opt.key }} {{ opt.value }}
{% endfor -%}
