---
- name: Validate automatic updates inputs
  ansible.builtin.assert:
    that:
      - rhel_automatic_updates_minute | string is match('^([0-9]|[0-5][0-9])$')
      - rhel_automatic_updates_hour | string is match('^([0-9]|1[0-9]|2[0-3])$')
      - rhel_automatic_updates_weekday | string is match('^[0-7]$')
      - rhel_automatic_updates_user | string | length > 0
      - rhel_automatic_updates_command | string | length > 0
      - rhel_automatic_updates_log_file | string | length > 0
    fail_msg: "Automatic updates schedule/command variables are invalid."
