---
- name: Validate input variables
  ansible.builtin.include_tasks: assert.yml

- name: Build automatic updates cron job line
  ansible.builtin.set_fact:
    rhel_automatic_updates_job: "{{ rhel_automatic_updates_command }} >{{ rhel_automatic_updates_log_file }} 2>&1"
  changed_when: false

- name: Manage automatic updates cron entry
  ansible.builtin.cron:
    name: "{{ rhel_automatic_updates_cron_name }}"
    user: "{{ rhel_automatic_updates_user }}"
    minute: "{{ rhel_automatic_updates_minute }}"
    hour: "{{ rhel_automatic_updates_hour }}"
    weekday: "{{ rhel_automatic_updates_weekday }}"
    job: "{{ rhel_automatic_updates_job }}"
    state: "{{ 'present' if rhel_automatic_updates_enabled | bool else 'absent' }}"
